{% extends "account/base_entrance.html" %}
{% load allauth i18n %}

{% block head_title %}
  {% trans "Signup" %}
{% endblock head_title %}
{% block content %}
  {{ form.non_field_errors }}
  {{ form.errors }}
  {% if invite %}
    {% element h2 %}
      {% trans "You're Invited!" %}
    {% endelement %}
    <div class="mb-2">
      {% blocktrans trimmed with org=invite.org.name %}
        Create an account below to accept your invitation and join the <b>{{ org }}</b> workspace.
      {% endblocktrans %}
    </div>
  {% else %}
    {% element h2 %}
      {% trans "Create Account" %}
    {% endelement %}
    <div class="mb-2">Creating a TextIt account is free and only takes a minute.</div>
  {% endif %}
  {% setvar link %}
  <a href="{{ login_url }}">
  {% endsetvar %}
  {% setvar end_link %}
</a>
{% endsetvar %}
{% element p %}
{% endelement %}
{% if invite %}<input class="mt-4" style="color:#999;" type="text" disabled value="{{ invite.email }}" />{% endif %}
{% if not SOCIALACCOUNT_ONLY %}
  {% url 'account_signup' as action_url %}
  {% element form form=form method="post" action=action_url tags="entrance,signup" %}
    {% slot body %}
      {% csrf_token %}
      {% element fields form=form unlabeled=True %}
      {% endelement %}
      {{ redirect_field }}
    {% endslot %}
    {% slot actions %}
      {% element button tags="prominent,signup" type="submit" %}
        {% if invite %}
          {% trans "Accept Invitation" %}
        {% else %}
          {% trans "Sign Up" %}
        {% endif %}
      {% endelement %}
    {% endslot %}
  {% endelement %}
{% endif %}
{% if PASSKEY_SIGNUP_ENABLED %}
  {% element hr %}
  {% endelement %}
  {% element button href=signup_by_passkey_url tags="prominent,signup,outline,primary" %}
    {% trans "Sign up using a passkey" %}
  {% endelement %}
{% endif %}
{% if SOCIALACCOUNT_ENABLED and "sso" in request.branding.features %}
  {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
{% endif %}
{% if not invite %}
  <div class="sign-in-notice">{% blocktranslate %}Already have an account? {{ link }}Sign in{{ end_link }}{% endblocktranslate %}</div>
{% endif %}
{% endblock content %}
{% block extra-script %}
  <script src="{{ STATIC_URL }}lib/jsTimezoneDetect/jstz.js"></script>
  <script type="text/javascript">
    onSpload(function() {
      var timezone = jstz.determine().name();
      document.getElementById("id_timezone").value = timezone;
    });
  </script>
{% endblock extra-script %}
{% block extra-style %}
  {{ block.super }}
  <style>
    label[for="id_workspace"] {
      display: block;
    }

    #id_first_name,
    #id_last_name {
      width: 100%;
    }

    .sign-in-notice {
      margin-top: 1rem;
    }

    button[type="submit"] {
      display: block;
      width: 100%;
    }
  </style>
{% endblock extra-style %}
