{% extends "no_nav.html" %}
{% load i18n %}

{% block extra-style %}
  <style>
    .sso-providers {}

    .password1_container .help-text {
      display: none;
    }

    .menu {
      padding-right: 5em;
      border-right: 1px solid #dee2e6;
      margin-right: 4em;
      white-space: nowrap;
      padding-top: 1em;
    }

    h1 {
      font-size: 1.5em;
      border-bottom: 1px solid #dee2e6;
      padding-bottom: .25em;
      margin-bottom: 0.5em;
    }

    h2 {
      font-size: 1.2em;
      margin-bottom: 0.5em;
      margin-top: 0.5em;
    }

    section {
      margin: 0.75em 0;
    }

    p {
      margin: 0.25em 0;
    }

    button {
      display: block;
      background: var(--color-primary-dark);
      color: white;
      padding: 0.75em 1em;
      border-radius: var(--curvature);
      margin-top: 0.75em;
      font-size: 1em;
    }

    label {
      margin-top: 0.5em;
      margin-left: 0.25em;
      color: #777;
      font-weight: 400;
      font-size: 0.95em;
      line-height: 0.3em;
      padding-top: 1em;
      margin-bottom: 0.75em;
      display: inline-block;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
      box-shadow: var(--widget-box-shadow);
      border: 1px solid #dee2e6;
      border-radius: var(--curvature);
      padding: .75em 1em;
      width: 100%;
      margin-bottom: 0.25em;
      transition: all ease-in-out 200ms;
    }

    input:focus {
      outline: none;
      border-color: var(--color-focus);
      background: var(--color-widget-bg-focused);
      box-shadow: var(--widget-box-shadow-focused);
    }

    .help-text {
      font-size: 0.95em;
      margin-left: 0.25em;
      margin: 0px;
      color: #999;

    }

    form ul {
      background: #f8f9fa;
      padding: 1em;
      border-radius: var(--curvature);
      border: 1px solid #dee2e6;
    }

    form ul li {
      font-size: 0.95em;
      color: #666;

    }

    .errorlist {
      margin-top: 1em;
      border: 1px solid var(--color-error);
      border-radius: var(--curvature);
      padding: 0.5em 0.5em;
      background: #fff;
    }

    .errorlist li {
      color: var(--color-error);
    }

    li.active a {
      font-weight: 600;
      color: #666;
      cursor: default;
    }

    li.active a:hover {
      text-decoration: none;
      pointer-events: none;

    }
  </style>
  {% if not user.is_authenticated %}
    <style>
      .content-card {
        max-width: 400px
      }
    </style>
  {% else %}
    <style>
      .content-card {
        max-width: 800px
      }

      @media (max-width: 800px) {
        .panels {
          flex-direction: column;
        }

        .menu {
          border-radius: var(--curvature);

          border-right: none;
          margin-right: 0;
          white-space: nowrap;
          margin-top: 1em;
          padding: 0.5em;
          margin-bottom: 2em;
          background: #f8f9fa;
        }


        .menu ul {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          padding: 0;
          margin: 0;
          flex-wrap: wrap;
        }

        .menu ul li {
          padding: 0.25em;
        }
      }
    </style>
  {% endif %}
{% endblock extra-style %}
{% block top-right %}
  {% if user.is_authenticated %}
    {% if org %}
      <div class="-mt-10">
        <temba-button class="inline-block" name="Workspace" href="{% url 'orgs.org_start' %}">
        </temba-button>
      </div>
    {% endif %}
  {% endif %}
{% endblock top-right %}
{% block content-wrapper %}
  {% if user.is_authenticated and not org and 'signups' not in branding.features %}
    <div class="mb-6">
      <temba-alert>
        {% blocktrans trimmed %}
          You are not a member of any workspaces and need an invitation to continue.
        {% endblocktrans %}
      </temba-alert>
    </div>
  {% endif %}
  {% if messages %}
    <div class="mb-6">
      <temba-alert>
        {% for message in messages %}{{ message }}&nbsp;{% endfor %}
      </temba-alert>
    </div>
  {% endif %}
  <div class="flex flex-row panels {% if not user.is_authenticated %}signin{% endif %}">
    {% if user.is_authenticated %}
      <div class="menu">
        {% block header %}
          <div>
            <ul>
              {% url 'orgs.user_edit' as profile_url_ %}
              {% if profile_url_ %}
                <li class="{% if request.path == profile_url_ %}active{% endif %}">
                  <a href="{{ profile_url_ }}">{% trans "Profile" %}</a>
                </li>
              {% endif %}
              {% url 'account_email' as email_url_ %}
              {% if email_url_ %}
                <li class="{% if request.path == email_url_ %}active{% endif %}">
                  <a href="{{ email_url_ }}">{% trans "Change Email" %}</a>
                </li>
              {% endif %}
              {% url 'account_change_password' as change_password_url_ %}
              {% url 'account_set_password' as set_password_url_ %}
              {% if change_password_url_ %}
                <li class="{% if request.path == change_password_url_ or request.path == set_password_url_ %}active{% endif %}">
                  <a href="{{ change_password_url_ }}">{% trans "Change Password" %}</a>
                </li>
              {% endif %}
              {% url 'socialaccount_connections' as connections_url_ %}
              {% if connections_url_ %}
                <li class="{% if request.path == connections_url_ %}active{% endif %}">
                  <a href="{{ connections_url_ }}">{% trans "Account Connections" %}</a>
                </li>
              {% endif %}
              {% url 'mfa_index' as mfa_url_ %}
              {% if mfa_url_ %}
                <li class="{% if request.path == mfa_url_ %}active{% endif %}">
                  <a href="{{ mfa_url_ }}">{% trans "Two-Factor Authentication" %}</a>
                </li>
              {% endif %}
              {% url 'usersessions_list' as usersessions_list_url_ %}
              {% if usersessions_list_url_ %}
                <li class="{% if request.path == usersessions_list_url_ %}active{% endif %}">
                  <a href="{{ usersessions_list_url_ }}">{% trans "Sessions" %}</a>
                </li>
              {% endif %}
            </ul>
          </div>
        {% endblock header %}
      </div>
    {% endif %}
    <div class="flex-grow mr-4">
      {% block content %}
      {% endblock content %}
      {% block extra_body %}
      {% endblock extra_body %}
    </div>
  </div>
{% endblock content-wrapper %}
