{% extends "smartmin/read.html" %}
{% load smartmin sms temba humanize contacts i18n %}

{% block content %}
  {% if object.status == 'S' %}
    <temba-alert level="info" class="mb-4">
      {% trans "This event is currently being scheduled and can't be edited again until that completes." %}
    </temba-alert>
  {% endif %}
  <div class="flex mb-4">
    <div class="flex-1 p-4 bg-gray-200 rounded-lg mr-4">
      <temba-icon name="schedule" class="inline-block mr-2">
      </temba-icon>
      {{ object.offset_display }} <b>{{ object.relative_to.name }}</b>
    </div>
    <div class="flex-1 p-4 bg-gray-200 rounded-lg">
      <b>{{ object.get_fire_count|intcomma }}</b> scheduled contacts
    </div>
  </div>
  <div class="event-details p-4 bg-gray-200 rounded-lg mb-4">
    {% if object.event_type == 'M' %}
      <div class="cap-label">{% trans "Send Message" %}</div>
      <div class="text-gray-600">{{ object.get_message.text }}</div>
    {% else %}
      <div class="start-flow">
        {% trans "Start" %}
        <a href="{% url 'flows.flow_editor' object.flow.uuid %}" class="linked">{{ object.flow.name }}</a>
      </div>
    {% endif %}
  </div>
  <table class="list lined">
    <thead>
      <tr>
        <th colspan="99">{% trans "Recent Contacts" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for fire in recent_fires %}
        <tr>
          <td>
            <a href="{% url 'contacts.contact_read' fire.contact.uuid %}" class="name linked">{{ fire.contact.name }}</a>
          </td>
          <td style="text-align:right">{{ fire.time|timedate }}</td>
        </tr>
      {% empty %}
        <tr class="empty_list">
          <td colspan="99" class="text-center">{% trans "No recent contacts" %}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
