{% extends "smartmin/read.html" %}
{% load smartmin sms temba humanize i18n %}

{% block subtitle %}
  <div class="flex flex-col mb-4">
    <div class="summary">
      <div class="inline-block">
        {# in the past we let users delete groups used by campaigns #}
        {% if object.group.is_active %}
          {% include "includes/recipients_group.html" with group=object.group %}
        {% else %}
          <div class="flex items-center">
            <temba-icon name="issue" class="mr-2">
            </temba-icon>
            <div>{% trans "Group required" %}</div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock subtitle %}
{% block post-title %}
  {% if object.is_archived %}
    <div class="labels mt-2">
      <a href="{% url 'campaigns.campaign_archived' %}" class="lbl linked">{% trans "Archived" %}</a>
    </div>
  {% endif %}
{% endblock post-title %}
{% block content %}
  <table class="list lined">
    <thead>
      <tr>
        <th>{% trans "Field" %}</th>
        <th>{% trans "When" %}</th>
        <th></th>
        <th>{% trans "Contacts" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for event in events %}
        <tr onclick="goto(event, this)"
            href="{% url 'campaigns.campaignevent_read' event.campaign.uuid event.id %}"
            class="hover-linked">
          <td class="whitespace-nowrap">{{ event.relative_to.name }}</td>
          <td class="whitespace-nowrap">{{ event.offset_display }}</td>
          <td class="w-full">
            {% if event.event_type == 'M' %}
              <div class="message">
                <div class="text">{{ event.get_message.text }}</div>
              </div>
            {% else %}
              <a href="{% url 'flows.flow_editor' event.flow.uuid %}" onclick="goto(event, this)">
                <temba-label icon="flow" primary clickable>
                  {{ event.flow.name }}
                </temba-label>
              </a>
            {% endif %}
          </td>
          <td class="whitespace-nowrap text-right">
            {% if event.status == 'S' %}
              <span class="text-gray-400">{% trans "Scheduling" %}</span>
            {% else %}
              {{ event.get_fire_count|intcomma }}
            {% endif %}
          </td>
        </tr>
      {% empty %}
        <tr class="empty_list">
          <td colspan="99" class="text-center">{% trans "No events" %}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
