{% extends "orgs/login/login_base.html" %}
{% load smartmin temba i18n %}

{% block login-title %}
  {% trans "New Workspace" %}
{% endblock login-title %}
{% block login-content %}
  {% blocktrans trimmed with branding.name as brand %}
    You need a workspace to use {{ brand }}. Give it a name that best describes your organization or project.
  {% endblocktrans %}
  <form method="post" class="mb-4 mt-4">
    {% csrf_token %}
    {% if form.non_field_errors %}<div class="alert alert-error form-errors">{{ form.non_field_errors }}</div>{% endif %}
    <div>{% render_field 'name' %}</div>
    <div class="hidden">
      {% with form|field:'timezone' as form_field %}{{ form_field }}{% endwith %}
    </div>
    <div class="mt-2">
      <input type="submit" value="Create Workspace" class="button-primary">
    </div>
  </form>
{% endblock login-content %}
{% block extra-script %}
  {{ block.super }}
  <script src="{{ STATIC_URL }}lib/jsTimezoneDetect/jstz.js"></script>
  <script type="text/javascript">
    onSpload(function() {
      var timezone = jstz.determine().name();
      document.getElementById("id_timezone").value = timezone;
    });
  </script>
{% endblock extra-script %}
