{% extends "smartmin/form.html" %}
{% load smartmin i18n %}

{% block extra-style %}
  {{ block.super }}
{% endblock extra-style %}
{% block fields %}
  <div class="mb-8">
    <div class="flex">
      <div class="flex-auto mr-4">{% render_field 'first_name' %}</div>
      <div class="flex-auto">{% render_field 'last_name' %}</div>
    </div>
    <div class="field">{% render_field 'avatar' %}</div>
    {% if form.fields.language %}
      <div class="field">{% render_field 'language' %}</div>
    {% endif %}
  </div>
{% endblock fields %}
