{% extends "smartmin/base.html" %}
{% block extra-style %}
  {{ block.super }}
  <style type="text/css">
    .spa-content {
      padding-left: 0px !important;
      padding-right: 0px !important;
      padding-bottom: 0px !important;
    }

    .no-menu {
      padding: 0 1em;
    }

    .spa-footer {
      display: none;
    }

    temba-flow-editor {
      display: flex;
      flex-direction: column;
      height: calc(100vh - 98px);
      width: 100%;
    }
  </style>
{% endblock extra-style %}
{% block content %}
  <temba-flow-editor flow="{{ object.uuid }}">
  </temba-flow-editor>
{% endblock content %}
