{% extends "smartmin/base.html" %}
{% load smartmin temba i18n humanize tz %}

{% block extra-style %}
  {{ block.super }}
  <style>
    temba-range-picker {
      padding: 0.5em;
    }
  </style>
{% endblock extra-style %}
{% block content %}
  <div class="flex px-4 rounded-lg mb-6 bg-white">
    <div class="flex-grow"></div>
    <temba-range-picker min="{{ request.org.created_on|date:"Y-m-d" }}">
    </temba-range-picker>
  </div>
  <div class="p-8 bg-white rounded-lg">
    <temba-chart header="Message History"
                 url="{% url 'dashboard.dashboard_message_history' %}"
                 dataname="Messages"
                 legend
                 showall
                 requireWindow
                 xtype="time"
                 palette="qualitative-paired"
                 colorIndex="0">
    </temba-chart>
    <temba-chart class="pt-8 block"
                 header="Workspace Statistics"
                 url="{% url 'dashboard.dashboard_workspace_stats' %}"
                 dataname="Workspaces"
                 legend
                 showall
                 xtype="category"
                 palette="qualitative-paired"
                 horizontal
                 colorIndex="2">
    </temba-chart>
  </div>
{% endblock content %}
{% block extra-script %}
  {{ block.super }}
  <script type="text/javascript">
    onSpload(function() {
      const rangePicker = document.querySelector("temba-range-picker");

      document.querySelectorAll("temba-chart").forEach(function(chart) {
        chart.setAttribute("start", rangePicker.startDate);
        chart.setAttribute("end", rangePicker.endDate);
      });

      rangePicker.addEventListener("temba-date-range-changed", function(e) {
        const {
          start,
          end
        } = e.detail;
        document.querySelectorAll("temba-chart").forEach(function(chart) {
          chart.setAttribute("start", start);
          chart.setAttribute("end", end);
        });
      });
    });
  </script>
{% endblock extra-script %}
