{% extends "smartmin/update.html" %}
{% load smartmin temba i18n %}

{% block title %}
  {% trans "Preview Contact Import" %}
{% endblock title %}
{% block content %}
  <div class="summary">
    {% blocktrans trimmed with count=object.num_records %}
      This import file contains <b>{{ count }}</b> records. Headers that didn't match existing fields
      can be ignored or added as new custom fields by editing them below.
    {% endblocktrans %}
  </div>
  <form method="post" enctype="multipart/form-data" class="smartmin-form horizontal-form">
    {% csrf_token %}
    {% if form.non_field_errors %}<div class="alert alert-error form-errors">{{ form.non_field_errors }}</div>{% endif %}
    <div class="card w-full">
      {% block fields %}
        <fieldset>
          <div class="mapping-container">
            {% for column in form.columns %}
              <div class="mapping-row">
                <div class="mapping-include">
                  {% if column.controls %}
                    {% render_field column.controls.0 %}
                  {% elif column.mapping.type == "ignore" %}
                    <temba-checkbox disabled="true">
                    </temba-checkbox>
                  {% else %}
                    <temba-checkbox checked="true" disabled="true">
                    </temba-checkbox>
                  {% endif %}
                </div>
                <div class="mapping-header">
                  <b>{{ column.header }}</b>
                </div>
                <div class="mapping-as gap-1">
                  {% if column.mapping.type == "ignore" %}
                    {% trans "will be ignored" %}
                  {% else %}
                    {% trans "as" %}
                    {% if column.mapping.type == "new_field" %}
                      {% trans "new field" %}
                      {% render_field column.controls.1 %}
                      {% trans "of type" %}
                      {% render_field column.controls.2 %}
                    {% elif column.mapping.type == "field" %}
                      {% trans "field" %} <strong>{{ column.mapping.name }}</strong>
                    {% elif column.mapping.type == "scheme" %}
                      {% blocktrans trimmed with scheme=column.mapping.scheme %}
                        a <strong>{{ scheme }}</strong> URN
                      {% endblocktrans %}
                    {% else %}
                      <strong>{{ column.mapping.name }}</strong>
                    {% endif %}
                  </div>
                {% endif %}
              </div>
            {% endfor %}
          </div>
        </fieldset>
      {% endblock fields %}
    </div>
    <div class="mb-5">
      <div class="group-selection">
        <div class="group-checkbox">{% render_field 'add_to_group' %}</div>
        <div class="group-label">{% trans "Add contacts to" %}</div>
        <div class="group-controls">
          <div class="group-mode">{% render_field 'group_mode' %}</div>
          <div class="new-group-controls">
            <div class="group-called">{% trans "called" %}</div>
            <div class="group-name">{% render_field 'new_group_name' %}</div>
          </div>
          <div class="existing-group-controls hide">{% render_field 'existing_group' %}</div>
        </div>
      </div>
    </div>
    <div class="flex mt-4">
      <input type="submit" value="{% trans "Import" %}" class="button-primary">
      <div onclick="javascript:history.go(-1)" class="ml-4 button-light">{% trans "Cancel" %}</div>
    </div>
  </form>
{% endblock content %}
{% block extra-script %}
  {{ block.super }}
  <script type="text/javascript">
    function updateGroupMode(groupMode) {
      const newGroup = document.querySelector(".new-group-controls");
      const existingGroup = document.querySelector(".existing-group-controls");
      if (groupMode === "N") {
        newGroup.classList.remove('hide');
        existingGroup.classList.add('hide');
      } else {
        newGroup.classList.add('hide');
        existingGroup.classList.remove('hide');
      }
    }

    function updateAddToGroup(enabled) {
      if (enabled) {
        document.querySelector("temba-select[name='group_mode']").disabled = false;
        document.querySelector("temba-select[name='existing_group']").disabled = false;
        document.querySelector("temba-textinput[name='new_group_name']").disabled = false;
      } else {
        document.querySelector("temba-select[name='group_mode']").disabled = true;
        document.querySelector("temba-select[name='existing_group']").disabled = true;
        document.querySelector("temba-textinput[name='new_group_name']").disabled = true;
      }
    }

    onSpload(function() {
      var groupMode = document.querySelector("temba-select[name='group_mode']");
      groupMode.addEventListener('change', function(event) {
        updateGroupMode(event.target.values[0].value);
      });

      updateGroupMode("{{ form.group_mode.value }}");

      var addToGroup = document.querySelector("temba-checkbox[name='add_to_group']");
      addToGroup.addEventListener('change', function(event) {
        updateAddToGroup(event.target.checked)
      });

      updateAddToGroup({{ form.add_to_group.value|lower }});
    });
  </script>
{% endblock extra-script %}
{% block extra-style %}
  {{ block.super }}
  <style type="text/css">
    .control-group {
      margin-bottom: 0;
    }

    .page-content {
      align-self: auto;
      max-width: 1024px;
    }

    .mapping-container {
      width: 100%;
    }

    .mapping-row {
      display: flex;
      align-items: center;
      min-height: 3rem;
    }

    .mapping-include {
      flex: 0 0 auto;
      margin-right: 0.5rem;
    }

    .mapping-header {
      flex: 0 0;
      font-weight: bold;
      margin-right: 0.5rem;
    }

    .mapping-as {
      display: flex;
      align-items: center;
    }

    .mapping-as .control-group {
      margin-bottom: 0.7rem;
      margin-right: 0.5rem;
      margin-left: 0.5rem;
    }

    .mapping-as .control-group temba-select {
      margin-bottom: -0.6rem;
    }

    .controls {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
    }

    temba-select {
      width: 10rem;
    }

    /* Basic styling for controls */
    .checkbox-label {
      display: none;
    }

    .name-control {
      width: 200px;
      margin-right: 0.5rem;
    }

    .value-type-control {
      width: 120px;
    }

    /* Group selection section */
    .group-selection {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 0.75rem;
      margin-left: 1.5rem;
      margin-top: 1.5rem;

    }

    .group-checkbox {
      display: flex;
      align-items: center;
    }

    .group-label {
      display: flex;
      align-items: center;
    }

    .group-controls {
      display: flex;
      align-items: center;
      gap: 0.75rem;
      flex-wrap: wrap;
    }

    .new-group-controls {
      display: flex;
      align-items: center;
      gap: 0.75rem;
    }

    .hide.new-group-controls {
      display: none;
    }

    .existing-group-controls .control-group .controls temba-select {
      width: 20rem;
    }

    .group-called {
      display: flex;
      align-items: center;
    }

    .group-controls temba-select {
      margin-top: -0.5rem;
    }

    .group-controls temba-textinput {
      margin-top: -0.75rem;
    }
  </style>
{% endblock extra-style %}
